@font-face {
    font-family: varela;
    src: url("../assets/fonts/VarelaRound-Regular.otf");
}

@font-face {
    font-family: raleway;
    src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: raleway-extralight;
    src: url("../assets/fonts/Raleway/Raleway-ExtraLight.ttf");
}

@font-face {
    font-family: roboto;
    src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: roboto-bold;
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: andalus;
    src: url("../assets/fonts/andlso.ttf");
}