:root{
    --text-color : #242424;
    --background-color : #eeeeee;
    --background-color-header : #e4e4e4;
    --secondary-color : rgb(41, 38, 48);
    --border-color : rgb(180, 180, 180);

    --h1 : 35px;
    --text : 16px;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "varela";
}

body{
    margin: 0;
    background: var(--background-color);
}

header{
    position: sticky;
    font-size: var(--h1);
    height: 2.5em;
    background-color: var(--background-color-header);
    border-bottom-width: 2px;
    border-color: var(--border-color);
    border-bottom-style: solid;
    margin-bottom: 3em;
    align-items: center;
    display: flex;
}
    
a{
    text-decoration: none;
    outline: none;
}

#main_wrap{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

p{
    font-size: var(--text);
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    cursor: default;
    padding-left: 2em;
    padding-right: 2em;
}

header .menu{
    color: var(--secondary-color);
    padding-right: 4%;
    padding-left: 4%;
    border-right-style: solid;
    border-width: 2px;
    border-color: var(--border-color);
    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.5s;
}
    
header .menu:hover, header .menu:focus {
    cursor: pointer;
    padding-right: 6%;
    padding-left: 6%;
}


.glass{
    margin-bottom: 5vh;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.68);
    border-radius: 16px;
    transition: 0.2s;
}

.glass:hover {
    transform: scale(1.02);
}